@model CountryUpdateRequest

@{
 ViewBag.Title = "Edit Country";
}

<a asp-controller="Countries" asp-action="Index" class="link-hover">Back to Countries List</a>
<h2>Edit Country</h2>

<div class="center-box">
 <form asp-controller="Countries" asp-action="Edit" method="post">

  <input type="hidden" asp-for="CountryID" />

  @*CountryName*@
  <div class="form-field flex">
   <div class="w-25">
    <label asp-for="CountryName" class="form-label pt">Country Name</label>
   </div>
   <div class="flex-1">
    <input asp-for="CountryName" class="form-input" />
    <span asp-validation-for="CountryName" class="text-red"></span>
   </div>
  </div>

  @*Submit*@
  <div class="form-field flex">
   <div class="w-25">
   </div>
   <div class="flex-1">
    <button class="button button-green-back">Update</button>

    <div asp-validation-summary="All" class="text-red"></div>

    @if (ViewBag.Errors != null)
    {
     <div class="text-red ml">
      <ul>
       @foreach (string error in ViewBag.Errors)
       {
        <li class="ml">@error</li>
       }
      </ul>
     </div>
    }
   </div>
  </div>

 </form>
</div>

@section scripts
 {
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}